.CalculatorContainer {

    width: 375px;
    border-radius: 25px 25px 0px 0px;

    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;

}

.Logo {

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40.86px;
}


.CalcBtnsContainer {
    padding-left: 32px;
    padding-right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 14px;
    margin-top: 16px;
}


.BillInput,
.PplInput {

    margin-top: 6px;
}

.error-message {

    position: absolute;
    right: 32px;
    color: #E17457;
    top: 0;
}



.Dollar,
.Person {

    position: absolute;
    top: 44px;
    left: 50px;
}

.BillContainer,
.PplContainer {

    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;

}

.ResultsContainer {

    background-color: #00474B;
    height: 257px;
    border-radius: 15px;
    width: 327px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.AmountContainer {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.AmountContainer:first-of-type {

    padding-top: 37px;
}

.AmountContainer:last-of-type {

    margin-top: 20px;
}

.AmountChild {

    display: flex;
    flex-direction: column;
}

.PplContainer {

    display: flex;
    align-items: center;
    gap: 16px;
}



@media screen and (min-width: 1000px) {


    .CalculatorContainer {

        width: 920px;
        box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
        border-radius: 25px;
        min-height: unset;
        height: 481px;
        


    }

    form {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

    }

    .CalcBtnsContainer {


        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .InputContainer {

        width: 379px;
    }

    .BillContainer,
    .PplContainer,
    #tip {

        padding: 0;
    }

    .ResultsContainer {

        width: 413px;
        height: 417px;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }

    .ResetBtn {

        margin-top: auto;
        margin-bottom: 40px;
        width: 333px;
        margin-left: auto;
        margin-right: auto;
    }

    .Dollar,
    .Person {
        top: 44px;
        left: 19.26px;
    }


    .BillContainer {

        margin-bottom: 40px;
    }

    .TipButton {

        width: 117px;
        
    }

    .PplContainer {

        margin-top: 40px;
    }

    .TipPersonAmt, .TotalPersonAmt {

        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        /* identical to box height */

        text-align: right;
        letter-spacing: -1px;
    }


    .AmountContainer {

     
        padding: 0 !important;
    }

    .AmountContainer:first-of-type {

        margin-top: 40px;
    }

    .AmountContainer:last-of-type {

        margin-top: 25px;
    }

    .ResultsContainer {

        padding-left: 40px;
        padding-right: 40px;
    }
}